export INGRESS_HOST=127.0.0.1
export WILDCARD_DNS=traefik.me
export HARBOR_USER=admin
export HARBOR_PASSWORD=Harbor12345

export KUBECONFIG=$PWD/kubeconfig-dev.yaml
export INGRESS_NAMESPACE=ingress-nginx
export INGRESS_SERVICE_CONTROLLER=ingress-nginx-controller
export INGRESS_HOST=$(kubectl get service ${INGRESS_SERVICE_CONTROLLER} -n ${INGRESS_NAMESPACE} -o jsonpath='{.spec.clusterIP}')
export INGRESS_HOSTNAME=${INGRESS_SERVICE_CONTROLLER}
alias curl="curl --insecure"
export EMAIL=drgbennett+yourchoice@gmail.com
export DOMAIN=${WILDCARD_DNS}
export REGISTRY=harbor.${DOMAIN}
export IMAGE=${REGISTRY}/library/cncf-demo